:root {
    --font-title: font-family: 'Acme', sans-serif, 'Trebuchet MS';
    --background: #dfa946;
    --font-color: #276e15;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    padding-inline-start: 0;
}

body {
    background-color: rgb(24, 199, 199);
}

header {
    padding: 1%;
    font-family: var(--font-title);
    color: var(--font-color);
    background-color: var(--background);
}

Nav {
    margin-right: 1%;
    float: right;
    font-family: var(--font-title);
    font-size: 155%;
}

figure {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/pictures/nature2.jpg");
    background-size: cover;
    background-position: center;
}

.menu >* {
    display: inline-block;
    padding: 8px 12px 0 0;
    
}

h1 {
    display: inline-block;
    font-size: 220%;
}


a {
    color: var(--font-color);
    text-decoration: none;
}

.image {
    margin-bottom: 20px;
    padding: 10px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.image img {
    max-height: 250px;
}
